<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
 

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    background-color: #1976d2;
    margin-bottom:20px;
    text-align:center;
    color:#ffffff;
    text-transform: uppercase;
  }
  .header_title{
  font-size:24px;
  display:block;
  width:100%;
  font-weight:bold;
  }



  footer {
    margin-top:20px;
    display: flex;
    height:80px;
    background-color: #1976d2;
    width :100%;

  }


  #myApp{
  width:100%;
  }
 
 .c_name{
 font-size:20px;
 font-weight:bold;
 color:#1976d2;
 }
 .h_name{
   font-size:16px;
   font-weight:bold;
 }
  .outer_block{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
     padding: 10px;
    margin-bottom: 10px;
}

 .outer_block:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

  /* Responsive Styles */
  @media screen and (max-width: 767px) {


  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
<p class="header_title">{{title}}</p>
</div>

<div class="content" role="main">

  <div id="myApp">
  <div class="container-fluid">
  <div class="row">
  <div class="offset-md-3 offset-xs-0 col-xs-12 col-md-6">
  <div *ngFor="let item of items index as i" class="outer_block">
  <p class="c_name">Worker {{i}}</p>
  <p class="h_name">Host {{item.Info.Hostname}}</p>
  <div class="memory_block">
  <p>CPU : {{item.Info.Resources.CPUs}} <span>{{item.CpuUse}} core(s) in use</span></p>
  <p>RAM : {{((item.Info.Resources.MemReserved /1.074e+9) * 100) / (item.Info.Resources.MemPhysical/1.074e+9) | number:'1.0-3'}}% {{item.Info.Resources.MemReserved /1.074e+9 | number:'1.0-3'}} GiB <span>/</span> {{item.Info.Resources.MemPhysical /1.074e+9 | number:'1.0-3'}}GiB</p>
  <p>VMEM : {{((item.Info.Resources.MemReserved /1.074e+9) * 100)/ (item.Info.Resources.MemSwap/1.074e+9) | number:'1.0-3'}}% {{item.Info.Resources.MemReserved /1.074e+9 | number:'1.0-3'}} GiB <span>/</span> {{item.Info.Resources.MemSwap /1.074e+9 | number:'1.0-3'}}GiB</p>
  </div>
   <div class="" *ngFor="let array of item.Info.Resources.GPUs">
  <p>GPU : {{array}} </p>
   </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- Footer -->
<footer></footer>



</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
